// FOOTER
footer.fw-section.section.bg-dark.footer
  .container
    .row
      .col-md-3.col-md-offset-1.col-sm-4
        h5 Social
        ul.list-unstyled
          li
            a(href=htmlWebpackPlugin.options.config.social.facebook.pageURL) Facebook
          li
            a(href=htmlWebpackPlugin.options.config.social.twitter.pageURL) Twitter
          //- li
          //-   a(href=htmlWebpackPlugin.options.config.social.instagram.pageURL) Instagram
      .col-md-3.col-sm-4
        h5 Support
        ul.list-unstyled
          //- li
          //-   a(href=htmlWebpackPlugin.options.config.site.main.url)
          //-    | #{ htmlWebpackPlugin.options.config.site.main.title } Website
          li
            a(href=htmlWebpackPlugin.options.config.site.legal.privacy) Privacy &amp; Terms
          //- li
            a(href=htmlWebpackPlugin.options.config.site.legal.tos) Terms &amp; Conditions
      .col-md-3.col-sm-4
        h5 Contact
        address
          if htmlWebpackPlugin.options.config.site.contact.address
            if htmlWebpackPlugin.options.config.site.contact.address.line1
              = htmlWebpackPlugin.options.config.site.contact.address.line1
              br
            if htmlWebpackPlugin.options.config.site.contact.address.line2
              = htmlWebpackPlugin.options.config.site.contact.address.line2
              br
            if htmlWebpackPlugin.options.config.site.contact.address.line3
              = htmlWebpackPlugin.options.config.site.contact.address.line3
              br
          if htmlWebpackPlugin.options.config.site.contact.phone
            a(href=`tel:${htmlWebpackPlugin.options.config.site.contact.phone.replace(/[^\+\d]/g, '')}`)
              = htmlWebpackPlugin.options.config.site.contact.phone
            br
          if htmlWebpackPlugin.options.config.site.contact.email
            a(href=`mailto:${htmlWebpackPlugin.options.config.site.contact.email}`, target='_blank')
              = htmlWebpackPlugin.options.config.site.contact.email
    .row
      .col-sm-10.col-md-offset-1
        .footer-alt
          p
            = htmlWebpackPlugin.options.config.site.copyright.year
            = ' © '
            = htmlWebpackPlugin.options.config.site.copyright.company
          p.logo
            if htmlWebpackPlugin.options.config.site.logo.svg
              a(href=htmlWebpackPlugin.options.config.site.logo.href)
                svg(class=htmlWebpackPlugin.options.config.site.logo.class)
                  use(xlink:href=htmlWebpackPlugin.options.config.site.logo.svg)
