.fb-page(data-href=htmlWebpackPlugin.options.config.social.facebook.pageURL
    data-tabs='timeline'
    data-small-header='true'
    data-adapt-container-width='true'
    data-hide-cover='true'
    data-show-facepile='true'
    data-hide-cta='true')
  blockquote.fb-xfbml-parse-ignore(cite=htmlWebpackPlugin.options.config.social.facebook.pageURL)
    a(href=htmlWebpackPlugin.options.config.social.facebook.pageURL)
      =htmlWebpackPlugin.options.config.social.facebook.pageName
